html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.contain{
    width: 100%;
    height: 100vh;
    font-family: 'Gruppo', sans-serif;
}

.first{
    width: 100%;
    position: relative;
    /* max-width: 1500px; */
  
   

}
.fimage{
    width: 100%;
    height: 50%;
    display: block;
    /* position: absolute;
    z-index: 1; */

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vw;
    
    
    position: absolute;
    z-index: 1;
    /* right: 10%; */
}
ul{
    display: flex;
    padding: 9%;
    
  
    

}
li{
    padding: 2%;
    list-style: none;
    
   
}
.lin{
    text-decoration: none;
    color: white;
   
    
}
/* .first {
    
    background: url(./images/3.jpeg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 800px;}
   
    
    /* border-radius: 25px; */
 */

 
 .logo{
    
    height: auto;
    position: absolute;
    z-index: 1;
    max-width: 30px;
 }

.head {
    bottom: 30vw;
    left: 60vw;
    position: absolute;
    z-index: 1;
    font-family: 'Homemade Apple', cursive;
    font-weight: 200;
    font-size: 4vw;
    color: rgb(255, 247, 247);
   
}

.book {
    background-color: rgb(0, 0, 0, 0);
   
    display: inline-block;
    text-decoration: none;
    align-items: center;
    padding: 1vw;
    position: absolute;
    z-index: 1;
    left: 61vw ;
    bottom: 25vw;
    color: white;
    font-family: 'Gruppo', sans-serif;
    border-radius: 1vw;
    border: 0.1vw solid;


}

.book:hover , .books:hover{
    background-color: rgba(215, 213, 213, 0.4);
}

.books{
    background-color: rgb(0, 0, 0, 0);
   
   
    text-decoration: none;
    
    color: white;
    font-family: 'Gruppo', sans-serif;
    border-radius: 1vw;
    border: .1vw solid;
}
.bookss{
    text-decoration: none;
    background-color: #cecece;
    color: white;
    font-family: 'Gruppo', sans-serif;
    border-radius: 1vw;
    font-size: 0.8em;
    border: .1vw none;
    box-shadow: 1px  5px 5px rgb(129, 128, 128);
}
.bookss:hover{
    background-color: rgb(104, 104, 104);
    border-radius: 0px;
    box-shadow: none;

}

.griid{
    margin: 3vw;
    
}
.books2{
   
    text-decoration: none;
   padding: 2vw;
    color: white;
    font-family: 'Gruppo', sans-serif;
    border-radius: 1vw;
    background-color: grey;
    border: .1vw solid;

}
.books2:hover{
    background-color: rgb(168, 165, 165);
    border-radius: 0;
}

/* .tourss{
    width: 100%;
    height: auto;
    border: 0.1px none grey;
    padding: 1.5vw;
    margin: 0.7vw;
    border-radius: 10px;
    box-shadow: 0.4vw 0.4vw 0.4vw rgb(150, 149, 149);
   
   
} */
/* .tours{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: 10vw;
   margin-right: 4vw;
  
} */

/* .tourss>img{
width: 100%;
height: 20vw;
border-radius: 20px;
position: relative;

}

.card-inner{
    width: 100%;
height: 20vw;
border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        
        top: 0vw;
        bottom: 0vw;
        left: 0vw;
        right: 0vw;
        z-index: 1;
        opacity: 1;
        padding: 1vw ;
        transition: all 0.4s ease 0s;
        margin-top: -20vw;
        border-radius: 20px;
        overflow: hidden;
} */

.features{
    width: 50%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
    margin-left: 15vw;
   

}
.premium-feature{
    background-color: #e8e9eb;
    width: 20vw;
    height: auto;
   border: 0.3vw grey;
    padding: 1.5vw;
    margin: 0.7vw;
   
    border-radius: 10px;
    box-shadow: 0.4vw 0.4vw 0.4vw rgb(150, 149, 149);
    text-align: center;
}

.premium-feature>img{
    width: 15vw;
height: 15vw;


}

.premium-feature>h4{
    padding-top: 1vw;
}
@media (max-width:500px){
    .features{
        flex-wrap: wrap;
    }
    .tours{
        flex-wrap: wrap;
    }
}



.customer{
    display: grid;
    grid-template-columns:0.4fr 1fr 1fr 1fr 0.5fr ;
    width: 100%;
    align-items: center;
}
.customer-love{
    
   width: 100%;
    height: auto;
    border: 0.1px none grey;
    padding: 1.5vw;
    margin: 0.7vw;
    border-radius: 5px;
    box-shadow: 0.4vw 0.4vw 0.4vw rgb(150, 149, 149);
    text-align: center;
}
.customer-love>img{
    width: 100%;
    height: auto;

}

.checked{
    color: rgb(156, 151, 151);
}
.ratings{
    text-align: center;
}

footer{
    font-family: 'Gruppo', sans-serif;
    color: white;
   margin-top: 4vw;
   padding-bottom: 5vw;
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
   
    /* border: 1px solid;*/
}
footer>div{
    line-height: 3vw;
    margin-top: 5vw;
}
footer>div>li{
    list-style: none;
    color: white;
    font-family: 'Gruppo', sans-serif;
    /* padding-top: 50px; */
   
}
.foot{
   
    background-color: #343232 ;
    border: 1px none;
}

form{
    padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
}

/* #608fb7 */

/* .tourss>img:hover{
    opacity: 0.1;

} */

/* Parent Container */
.content_img{
    position: relative;
    width: 30vw;
    height: auto;
    float: left;
    margin-right: 1vw;
    box-shadow: 0.4vw 0.4vw 0.4vw rgb(150, 149, 149);
   
}

/* Child Text Container */
/* .content_img div{
    
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom:1vw;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   
}

/* Hover on Parent Container */
/* .content_img:hover{
    cursor: pointer;
}

.content_img:hover div{
    width: auto;
    padding-left: 1vw;
    top: 5vw;
   right: 5vw;
   left: 1vw; 
   bottom: 3%;
    visibility: visible;
    opacity: 0.7; 
}  */
.grid{
    margin: 2vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.icon-collection {
    width: 5vw;
    height: 5vw;   

display: flex;
justify-content: space-between;
align-items: baseline;
}
.icon{
    padding: 1vw;
   
}

.cards{
    box-shadow: 0.4vw 0.4vw 0.4vw rgb(150, 149, 149);
}

.card{
    box-shadow: 0.4vw 0.4vw 0.4vw rgb(150, 149, 149);
}

/* testing */

.tex {
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(73, 74, 75,0.5);
  }
  .content_img{
        padding: 2vw;
        position: relative;
        width: 100%;
      
  }
  .sample{
    display: block;
    width: 100%;
    height: autto;
  }

  .content_img:hover .overlay{
    opacity: 1;
  }

  @media (max-width:700px){
    
    .features{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
       margin-left: 25vw;

    }
    .foot{
        display: grid;
        grid-template-columns: (1,1fr);
        justify-content: center;
        
    }
   
    nav>ul{
       margin-right: 50vw;
    }
    .customer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
  }

  .griid{
   
    padding-top: 5vw;
  }


  .carousel{
    padding-top: 5vw;
  }

  .lin:hover{
   border-bottom:3px solid;
   padding-bottom: 1vw;
   transition: 0.1s ease-out;
  }